# Gemini AI API Key
GEMINI_API_KEY=GEMINI API

# Firebase API Keys
# These can be found in your firebase_options.dart or Firebase Console
FIREBASE_WEB_API_KEY=WEB API
FIREBASE_ANDROID_API_KEY=ANDROID API
FIREBASE_IOS_API_KEY=IOS API
FIREBASE_MACOS_API_KEY=MACOS API
FIREBASE_WINDOWS_API_KEY=WINDOWS API
